<%-include ("partial/header")%>
<%-include ("partial/nav")%>
    
        <div class="row">
            <div class="col-lg-2"></div>
                <div class="info form-body col-lg-8 pb-3 pl-5 pr-5 pt-5 mt-5 mb-5" 
                style=" background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 15px gray; border-radius: 15px; " >
                    <!-- From Uiverse.io by abrahamcalsin --> 
                <div class="card-client">
                <div class="user-picture">
                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                    </svg>
                </div>
                <%for(let i=0; i < user.length; i++){%>
                  <%if(session.phone === user[i].phone){%>
                      <p>
                        <b><%=user[i].name%></b> 
                      </p>

                      <div class="social-media text-left mb-2 ml-4 ">
                        <pre class="text " style="font-size: large; color: white;">Phone    :<%=user[i].phone%> <br></pre> 
                        <pre class="text " style="font-size: large; color: white;">Male id  :<%=user[i].email%> <br></pre> 
                        <pre class="text " style="font-size: large; color: white;">Gender   :<%=user[i].gender%> <br></pre> 
                        <pre class="text " style="font-size: large; color: white;">Address  :<%=user[i].address%> <br></pre> 
                      </div>
                  <%}%>
              <%}%>


              <!-- let user=await User_model.find();
              let data = await Service_model.find(); 
              let booking = await Booking_model.find(); -->

              <div class="social-media text-left mb-2 ml-4 ">
                <p><h2><b>Booked Services</b></h2></p>
                <%for(let i= 0; i < user.length; i++){ %>

                  <%for(let j= 0; j < booking.length; j++){ %>
                    
                      <%if(booking[j].userid == user[i].id){%>

                          <%for(let k= 0; k < data.length; k++){ %>
                            
                              <%if(data[k].id === booking[j].serviceid){%>

                                  <pre class="text " style="font-size: large; color: white;">Service Name :<%=data[k].name%> <br></pre> 
                                  <pre class="text " style="font-size: large; color: white;">Date         :<%=booking[j].date%> <br></pre> 
                                  <pre class="text " style="font-size: large; color: white;">Time         :<%=booking[j].time%> <br></pre> 
                                  <pre class="text " style="font-size: large; color: white;">Payment      :<%=booking[j].payment%> <br></pre> 
                                  <pre class="text " style="font-size: large; color: white;">Status       :<%=booking[j].status%> <br></pre>
                              <%}%>
                          <%}%>
                      <%}%>
                  <%}%>
                <%}%>
              </div>
              </div>

          </div>
        <div class="col-lg-2"></div>
      </div>


  
<%-include ("partial/footer")%>